:root {
    --mainColor: #3d85c6,
    --offColor: #5b5b5b, 
    --current: gray
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: end;
    align-items: end;
}